:root {
  --font1: "Abareto";
  --font2: "Hydrogenous";
  --font3: "Alegreya-Regular";
  --bg1: #fff7f1;
  --bg2: #763a3a;
  --bg3: rgba(0, 0, 0, 0.8);
  --bg4: rgba(0, 0, 0, 0.5);
  --bg5: #f6ede6;
  --bg6: #e6dfda;
  --bg7: #c2baba;
  --bg8: #d9d9d9;
  --bg9: #dbdbdb;
  --c1: #000;
  --c2: var(--bg1);
  --c3: #fff;
  --c4: #3a3a3a;
  --c5: #8b7575;
  --c6: #d2d2d2;
}
